<<<<<<< Updated upstream
=======
.messages
   = = render @messages
.side
  .side__header
    .side__header__box
      .side__header__box--user-name
        dfghj
      .side__header__box--menu
        .side__header__box--menu__new-group
        =link_to "", class: "side__header__box--menu__new-group" do
          =fa_icon 'edit'
        .side__header__box--menu__edit-user
        =link_to "", class: "side__header__box--menu__edit-user" do
          =fa_icon 'cog'
  .side__groups
    .side__groups__1
      .side__groups__1__name
        takasyo-
      .side__groups__1__2
        イェイ
.main
  .main__header
    .main__header__left-box
      .main__header__left-box__current-group
        aaa
      .main__header__left-box__member-list
        Member:#777777

    .main__header__2227
      .main__header__2227__btn
        Exit
  .main__messages
    .main__messages__1
      .main__messages__1__2
        .main__messages__1__2--3
          AAAA
        .main__messages__1__2__4
          ddddd
      .main__messages__1__2__5
        sssss
  .main__from
    .main__from__from [@group, @message] do |f|
      .main__from__from__input-box
        .main__from__from__input-box__text
          aaaaaaaaaaaaaaaa
        .main__from__from__input-box__image
          .main__from__from__input-box__image__fa
          =link_to "",class: "main__from__from__input-box__image__fa" do
            =fa_icon 'photo'
          .main__from__from__input-box__image__file
      .main__from__from__submit-btn
        .main__from__from__submit-btn__send
          Send


>>>>>>> Stashed changes
